<!-- El Menu de arriba -->
<nav class="navbar navbar-light" style="background-color: #cad2c5">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink='pedidos'>
        <img src="../assets/box.svg" alt="" width="30" height="24" class="d-inline-block align-text-top" />
        Pedidos
      </a>
      <a class="navbar-brand" routerLink="facturas">
        <img src="../assets/card-checklist.svg" alt="" width="30" height="24" class="d-inline-block align-text-top" />
        Facturas
      </a>
      <a class="navbar-brand" routerLink="ventas">
        <img src="../assets/currency-dollar.svg" alt="" width="30" height="24" class="d-inline-block align-text-top" />
        Ventas
      </a>
      <a class="navbar-brand" routerLink="clientes">
        <img src="../assets/clientes.png" alt="" width="30" height="24" class="d-inline-block align-text-top" />
        Clientes
      </a>

      <a class="navbar-brand dropdown">
        <a class="navbar-brand dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="../assets/boxes.svg" alt="" width="30" height="24" class="d-inline-block align-text-top" />
        Almacén</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="productos">Productos</a></li>
          <li><a class="dropdown-item" routerLink="lotes">Lotes</a></li>
        </ul>
      </a>
    </div>
  </nav>