<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="table-list">
        <table class="table table-success table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">codigo</th>
              <th scope="col">Fecha de Emision</th>
              <th scope="col">Monto Total</th>
              <th scope="col">Nombre del Cliente</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let venta of ListarFactura(); index as i">
              <td>{{ venta.id }}</td>
              <td>{{ venta.codigo }}</td>
              <td>{{ venta.fechaEmision }}</td>
              <td>{{ venta.montoTotal }}</td>
              <td>{{ venta.perteneceCliente.nombre }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> 
  </div>  
</div>