<!-- <h1>Alprosur</h1>
<p>Usuario<input type="text" [(ngModel)]="usuario"></p>
<p>Contraseña<input type="text" [(ngModel)]="contra"></p>
<button type="button" (click)="onEntrar()">Click</button> -->

<!-- El Menu de arriba -->
<nav class="navbar navbar-expand navbar-light bg-light nav-tabs">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <a class="nav-link disabled">Pedidos</a>
        <a class="nav-link disabled">Facturas</a>
        <a class="nav-link disabled">Ventas</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Almacén</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item">Productos</a></li>
            <li><a class="dropdown-item">Lotes</a></li>
          </ul>
        </li>
      </div>
    </div>
  </div>
</nav>

<!-- Agregar un Producto -->
<div class="container-fluid">
  <div class="row">
    <div class="col-1 col-xl-3">
    </div>
    <div class="col-10 col-xl-6">
      <div class="form-registro">
        <h1 class = "txtcentro"> Agregar un nuevo Producto</h1>
        <div class="mb-3">
          <div class="row">
            <div class="col-3"><label class="labels">ID del Producto</label></div>
            <div class="col-9"><input type="text" class="form-control" disabled = "true"></div>
          </div>
          <div class="row">
            <div class="col-3"></div>
            <div class="col-9"><div class="form-text">El ID del producto se genera automáticamente</div></div>
          </div>
        </div>
        <div class="mb-3">
          <div class="row">
            <div class="col-3"><label class="labels">Código</label></div>
            <div class="col-9"><input class = "form-control" type="text" [(ngModel)]="acodigo"></div>
          </div>
        </div>
        <div class="mb-3">
          <div class="row">
            <div class="col-3"><label class= "labels">Nombre</label></div>
            <div class="col-9"><input class = "form-control" type="text" [(ngModel)]="anombre"></div>
          </div>          
        </div>
        <div class="mb-3">
          <div class="row">
            <div class="col-3"><label class="labels">Detalles</label></div>
            <div class="col-9"><input class = "form-control" type="text" [(ngModel)]="adetalles"></div>
          </div>
        </div>
        <div class="mb-3">
          <div class="row">
            <div class="col-3"><label class="labels">Precio</label></div>
            <div class="col-9"><input type="text" class="form-control"[(ngModel)]="aprecio"></div>
          </div>
          <div class="row">
            <div class="col-3"></div>
            <div class="col-9"><div class="form-text">El precio está en Soles (S/.)</div></div>
          </div>
        </div>
        <button type="submit" class="button" (click)="onCrearPRoducto()">Registrar Producto</button>
      </div>
    </div>

    <div class="col-1 col-xl-3">
    </div>
  </div>
</div>
<!-- Buscar y Borrar un Producto -->

<div class="container-fluid">
  <div class="row">
    <div class="col-1 col-xl-3"></div>
    <div class="col-10 col-xl-6">
      <div class="form-registro">
        <h1 class = "txtcentro">Buscar Producto</h1>
        <div class="mb-3">
          <div class="row">
            <div class="col-3"><label class="labels">ID del Producto</label></div>
            <div class="col-9"><input type="text" class="form-control" [(ngModel)]="bid" ></div>
          </div>
        </div>
        <div class="mb-3">
          <div class="row">
            <div class="col-3"><label class= "labels">Nombre</label></div>
            <div class="col-9"><input class = "form-control" disabled = "true" [(ngModel)]="bnombre" type="text"></div>
          </div>          
        </div>
        <button type="submit" class="button" (click)="onBuscar()">Buscar Producto</button>
        <button type="submit" class="button" (click)="onBorrar()">Borrar Producto</button>
      </div>
    </div>

    <div class="col-1 col-xl-3"></div>
  </div>
</div>



<!-- Modificar un Producto -->
<div class="container-fluid">
  <div class="row">
    <div class="col-1 col-xl-3">
    </div>
    <div class="col-10 col-xl-6">
      <div class="form-registro">
        <h1 class = "txtcentro">modificar Producto</h1>
        <div class="mb-3">
          <div class="row">
            <div class="col-3"><label class="labels">ID del Producto</label></div>
            <div class="col-9"><input class = "form-control" type = "text" disabled = "true" [(ngModel)]="mid"></div>
          </div>
        </div>
        <div class="mb-3">
          <div class="row">
            <div class="col-3"><label class="labels">Código</label></div>
            <div class="col-9"><input class = "form-control" type = "text" disabled = "true" [(ngModel)]="mcodigo"></div>
          </div>
        </div>
        <div class="mb-3">
          <div class="row">
            <div class="col-3"><label class= "labels">Nombre</label></div>
            <div class="col-9"><input class = "form-control" type ="text" [(ngModel)]="mnombre"></div>
          </div>          
        </div>
        <div class="mb-3">
          <div class="row">
            <div class="col-3"><label class="labels">Detalles</label></div>
            <div class="col-9"><input class = "form-control" type ="text" [(ngModel)]="mdetalles"></div>
          </div>
        </div>
        <div class="mb-3">
          <div class="row">
            <div class="col-3"><label class="labels">Precio</label></div>
            <div class="col-9"><input class = "form-control" type ="text" [(ngModel)]="mprecio"></div>
          </div>
          <div class="row">
            <div class="col-3"></div>
            <div class="col-9"><div class="form-text">El precio está en Soles (S/.)</div></div>
          </div>
        </div>
        <button type="submit" class="button" (click) = "onModificar()" >Modificar Producto</button>
      </div>
    </div>

    <div class="col-1 col-xl-3">
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h1 class="invi"> espacio para la tabla</h1>
  </div>
    <div class="table-list">
      <table class="table table-success table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Detalles</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Producto of ListaProductos(); index as i">
            <th scope=""></th>
            <td>{{ Producto.id }}</td>
            <td>{{ Producto.codigo }}</td>
            <td>{{ Producto.nombre }}</td>
            <td>{{ Producto.detalles }}</td>
            <td>{{ Producto.precio }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
